<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <link rel="icon" type="image/png" href="img/fav.jpg" />
    <!-- http://52.90.32.33:2345/cars/product -->

    <link rel="stylesheet" href="css/home/home.css" />
    <title>Zoom Car | Home</title>
    <link rel="stylesheet" href="css/home/navstyles.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>
  <body>
    <div id="navbar_container"></div>
    <div id="img1">
      <button>
        <ul>
          <li>
            <a href="/home/location"
              >Pick UpCity, Airport , Address or AHotel</a
            >
          </li>
        </ul>
      </button>
      <button id="btn"><a href="#">FIND CARS</a></button>
    </div>
    <div id="pro">
      <a href="/home/MapSearch"
        ><div>
          <img
            src="https://www.zoomcar.com/build/2bd9b312f575510da149ed2a8b862852.jpeg"
          /></div
      ></a>
      <div>
        <img
          src="https://www.zoomcar.com/build/2bd9b312f575510da149ed2a8b862852.jpeg"
        />
      </div>
      <div>
        <img
          src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/pictures/original/02dd1b11f8883a54f4591e945bf6597b2832edbb.png?1633777179"
        />
      </div>
      <a href="/home/location"
        ><div>
          <img
            src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/pictures/original/62008d3494f5ee4eb8118692137da0772830a3eb.jpg?1633439109"
          /></div
      ></a>
    </div>
    <a href="/home/location"
      ><div id="pro2">
        <img
          src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/pictures/original/e027e9afe24bd72fed58549e845dffcf8cdf1ba8.jpg?1633439546"
          ;
        /></div
    ></a>
    <div id="pro3">
      <div id="refer">
        <div class="proimg">
          <img
            src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/images/original/85fef585709cb289fd06adeabd230c5383200f20.png?1545144526"
          />
        </div>
        <div>
          <p class="p">REFER AND EARN</p>
          <p>
            you earn 500 credits,your friend get 30% (upto Rs.2500) off on their
            booking af at least 8 hours.
          </p>
        </div>
      </div>
    </div>
    <div id="pro4">
      <div>
        OFFERS
        <img
          src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/95eb9609266131b44b4c298e56adc0bf1d61e21d.jpeg?1636691870"
        />
      </div>
      <div>
        <img
          src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/9cff4212398acb2526abe98528ae1e703c169895.jpg?1636736308"
        />
      </div>
      <div>
        <img
          src="https://s3-ap-southeast-1.amazonaws.com/zoomcar/photos/original/3ab96dc6fe7215bb7522798937cc9ba354186551.jpg?1543320021"
        />
      </div>
    </div>
    <div id="about">
      <hr />
      <select>
        <option onclick="about()" value="">AboutUs</option>
        <option value="Zoomcar team">Zoomcar team</option>
        <option value="Zoomcar Subscription">Zoomcar Subscription</option>
        <option value="Zoomcar Blog">Zoomcar Blog</option>
        <option value="Carrers @ Zoomcar">Carrers @ Zoomcar</option>
      </select>

      <hr />
    </div>
    <div id="lower">
      <div id="discription">
        <h3>SELF DRIVE CARS IN PUNE</h3>
        <span
          >The cultural capital of Maharashtra, Pune was once home to the mighty
          Marathas, and retains their legacy in the many monuments it is home
          to, as well as the rich culture which is lovingly preserved by the
          people of the city. Pune is called the Oxford of the East and is fast
          emerging as the preferred destination for several multinational
          companies too. With opportunities for education, jobs and a vibrant
          nightlife, Pune attracts youngsters from all over the country.<br />These
          money-savvy youngsters seek the convenience of self-drive cars without
          the liability of buying and owning one. Zoomcar fills this need with a
          well-maintained fleet of cars from every segment. Choose a Zoomcar
          self-drive car rental in Pune and experience the convenience it
          provides.</span
        ><br />

        <h3>SELF DRIVE CARS IN PUNE</h3>
        <span
          >The cultural capital of Maharashtra, Pune was once home to the mighty
          Marathas, and retains their legacy in the many monuments it is home
          to, as well as the rich culture which is lovingly preserved by the
          people of the city. Pune is called the Oxford of the East and is fast
          emerging as the preferred destination for several multinational
          companies too. With opportunities for education, jobs and a vibrant
          nightlife, Pune attracts youngsters from all over the country.<br />These
          money-savvy youngsters seek the convenience of self-drive cars without
          the liability of buying and owning one. Zoomcar fills this need with a
          well-maintained fleet of cars from every segment. Choose a Zoomcar
          self-drive car rental in Pune and experience the convenience it
          provides.</span
        ><br />

        <h3>SELF DRIVE CARS IN PUNE</h3>
        <span
          >The cultural capital of Maharashtra, Pune was once home to the mighty
          Marathas, and retains their legacy in the many monuments it is home
          to, as well as the rich culture which is lovingly preserved by the
          people of the city. Pune is called the Oxford of the East and is fast
          emerging as the preferred destination for several multinational
          companies too. With opportunities for education, jobs and a vibrant
          nightlife, Pune attracts youngsters from all over the country.<br />These
          money-savvy youngsters seek the convenience of self-drive cars without
          the liability of buying and owning one. Zoomcar fills this need with a
          well-maintained fleet of cars from every segment. Choose a Zoomcar
          self-drive car rental in Pune and experience the convenience it
          provides.</span
        ><br />

        <h3>SELF DRIVE CARS IN PUNE</h3>
        <span
          >The cultural capital of Maharashtra, Pune was once home to the mighty
          Marathas, and retains their legacy in the many monuments it is home
          to, as well as the rich culture which is lovingly preserved by the
          people of the city. Pune is called the Oxford of the East and is fast
          emerging as the preferred destination for several multinational
          companies too. With opportunities for education, jobs and a vibrant
          nightlife, Pune attracts youngsters from all over the country.<br />These
          money-savvy youngsters seek the convenience of self-drive cars without
          the liability of buying and owning one. Zoomcar fills this need with a
          well-maintained fleet of cars from every segment. Choose a Zoomcar
          self-drive car rental in Pune and experience the convenience it
          provides.</span
        ><br />
      </div>
      <div class="copyright">
        © Copyright 2021 Zoomcar India Private Ltd. All rights reserved
      </div>
    </div>
  </body>
</html>
<script type="module" src="/js/home/navhome1.js"></script>
