<%- include("_header",{title:"ZMS page", stylesheet:"/css/zms/zms.css" }) -%>

<body>
    <div id="future_mobility">
        <div id="top_icon">
            <div id="zoomcar">
                <img width=100%,
                height=100% src="https://www.zoomcar.com/images/zms-logo-white.png"/>
            </div>
    
            <a id="demo" href="#"><div id="DR">Request Demo</div></a>

        </div>
        <div id="headigz">
            <div id="IPM">Inspiring Profitable Mobility Solutions of Tomorrow</div>
            <div id="BW">Suite of Connected Technology Offerings and Connected Mobility Solutions for Businesses Worldwide</div>
            <a  href="#"><div id="RD">Request Demo</div></a>
        </div>
      
    </div>
    <div id="greenline"></div>
    <label id="offer_tag">Product Offerings</label>
  
    <div id="twobutton">
        <button id="btn1" onclick="btn1Fun()">Connected Vehicle Solutions</button>
        <button id="btn2"  onclick="btn2Fun()">Yield Management Services</button>
    </div>
    <div id="slideshow_div">
        <div id="parag">
            <p>Suite of connected technologies offering fleet agnostic solutions aimed at driving higher revenue through better yield management and dual fleet utilisation to expand customer base</p>
        </div>
        <div id="slideshow_img">
            <img id="SI" src="https://www.zoomcar.com/assets/component-images/ZMS_Slide-Banner_201_E.43c8d28a91111b0eb44831b1d040bc79.jpg"/>
        </div>
        <label id="features">FEATURES</label>
        <div id="zoomcar_features">
            <div>
                <label  class="labelnames">Vehicle Tracking & Safety</label>
                    <p  class="paranames">Geo-fencing, Real time alerts, immobilization to manage 24x7</p>
            </div>

            <div>
                <label class="labelnames">Driver Score</label>
                    <p class="paranames">Improved fuel efficiency and cost benefits from better driving behavior</p>
            </div>

            <div>
                <label class="labelnames">Vehicle Health Monitoring</label>
                    <p  class="paranames">Real-time Asset health monitoring systems for reduced downtime</p>
            </div>
            <div>
                <label class="labelnames">Fuel Management</label>
                    <p  class="paranames">Real time fuel level monitoring and fuel theft detection mechanisms</p>
            </div>
            <div>
                <label class="labelnames">Operations Automation</label>
                    <p  class="paranames">Automate routine operational tasks and increase uptime over 25%</p>
            </div>
        </div>
        <div>
            <button onclick="more()" id="more_details">More Details</button>
        </div>
    </div>
    <div id="xyz">
    <div id="nested_div_green">
        <p id="why">Why Partner with Us?</p>
        <div id="nested_div_white">

            <div class="boxes">
                <img class="img_logos" src="https://www.zoomcar.com/images/icons-timer-new.png"/>
                <br>
                <br>
                <label class="labelnames">Quick Go-To Market</label>
                    <p  class="paranames">Quick and easy onboarding with a fast turnaround time of one week</p>
            </div>

            <div class="boxes">
                <img class="img_logos" src="https://www.zoomcar.com/images/icons-car-new.png"/>
                <br>
                <br>
                <label class="labelnames">India’s largest B2C Mobility Platform</label>
                    <p  class="paranames">Fleet management experience of managing 20,000+ assets</p>
            </div>

            <div class="boxes">
                <img class="img_logos" src="https://www.zoomcar.com/images/icons-remote-new.png"/>
                <br>
                <br>
                <label class="labelnames">Works Across Vehicle Types</label>
                    <p  class="paranames">Works seamlessly across - 2W, 3W, Cars, Trucks & Electric Vehicles alike</p>
            </div>

            <div class="boxes">
                <img class="img_logos" src="https://www.zoomcar.com/images/icons-table-new.png"/>
                <br>
                <br>
                <label class="labelnames">Advanced Data Science Capabilities</label>
                    <p  class="paranames">Self-learning algorithms powered by Artificial Intelligence & Machine Learning to predict driver behaviour</p>
            </div>

            <div class="boxes">
                <img class="img_logos" src="https://www.zoomcar.com/images/icons-license-new.png"/>
                <br>
                <br>
                <label class="labelnames">Commitment to Customer Satisfaction</label>
                    <p  class="paranames">24x7 dedicated assistance and support system</p>
            </div>

            <div class="boxes">
                <img class="img_logos" src="https://www.zoomcar.com/images/icons-delivery-green-new.png"/>
                <br>
                <br>
                <label class="labelnames">Pioneer in Shared subscription</label>
                    <p  class="paranames">Innovative techniques to enable 2-sided marketplaces for better utilisation & revenue</p>
            </div>

           
                <div class="boxes">
                    <img class="img_logos" src="https://www.zoomcar.com/images/icons-setting-green-new.png"/>
                    <br>
                    <br>
                    <label class="labelnames">Proven Next Gen Technology</label>
                        <p  class="paranames">Best in class stable and scalable tech solutions</p>
                </div>

                <div class="boxes">
                    <img class="img_logos" src="https://www.zoomcar.com/images/icons-distance-new.png"/>
                    <br>
                    <br>
                    <label class="labelnames">Futuristic Products</label>
                        <p  class="paranames">Always in sync with the evolving business landscape</p>
                </div>

                <div class="boxes">
                    <img class="img_logos" src="https://www.zoomcar.com/images/icons-office-new.png"/>
                    <br>
                    <br>
                    <label class="labelnames">Powering Multiple Sectors</label>
                        <p  class="paranames">Partners range from Government bodies to Global companies across varied geographies</p>
                </div>
            

        </div>
    </div>
   
</div>

<div>
    <div id="all_vehicles">
        <img width="100%",
        height="100%" src="https://www.zoomcar.com/assets/component-images/dashboard@2x.a2445440373cd84df21b0d887b8d389f.png"/>
    </div>
    <div id="granite">
        <p id="trackrecord">Proven track records</p>
        <p id="proven_record">Backed by deep learnings and great driving experiences brought to you over 1 billion+ kms spanning over 7 years</p>
<div id="granite_grid">
 <div class="grid_boxes">
                    <img class="img_logoz" src="https://www.zoomcar.com/images/icons-fuel-fuel-type.png"/>
                    <br>
                    <label class="labelnamez">30% Fuel Costs<br> Savings</label>
                </div>

                <div class="grid_boxes">
                    <img class="img_logoz" src="https://www.zoomcar.com/images/icons-swap.png"/>
                    <br>
                    <label class="labelnamez">20% Reduction in<br> Fleet Downtime</label>
                </div>

                <div class="grid_boxes">
                    <img class="img_logoz" src="https://www.zoomcar.com/images/icons-car-pick-up.png"/>
                    <br>
                    <label class="labelnamez">50% Less<br> Accidents &<br> Better Safety</label>
                </div>

                <div class="grid_boxes">
                    <img class="img_logoz" src="https://www.zoomcar.com/images/icons-deposit.png"/>
                    <br>
                    <label class="labelnamez">25% Maintenance <br> Cost Reduction</label>
                </div>

                <div class="grid_boxes">
                    <img class="img_logoz" src="https://www.zoomcar.com/images/icons-ruppee.png"/>
                    <br>
                    <label class="labelnamez">15% Revenue <br>Uplift</label>
                </div>

                <div class="grid_boxes">
                    <img class="img_logoz" src="https://www.zoomcar.com/images/icons-arrows-arrow-right-top.png"/>
                    <br>
                    <label class="labelnamez">Increase in sales<br> funnel conversion<br> and utilisation</label>
                        
                </div>
            </div>
    </div>
    </div>
    <div id="fill_form">
        <h1 id="connect_tag">Connect With Us</h1>
        <p id="leave_details">Leave details for us to help your business become future ready</p>
        <form>
            <div class="name_company">
                <input id="name1" class="input_tags" type="text" placeholder="Name">&emsp;
                <input id="company1" class="input_tags" type="text" placeholder="Company name">
            </div>
            &emsp;&emsp;
            <br>
            <input id="email1" class="email_tags" type="email" placeholder="Email">
            <br>
            &emsp;&emsp;
            
            <div  class="name_company">
                <input id="phone1" class="input_tags" type="text" placeholder="Phone number">&emsp;
                <input id="country1" class="input_tags" type="text" placeholder="Country">
            </div>
            &emsp;&emsp;
            <br>
            <textarea id="mention1" class="email_tags">Mention Requirements</textarea>
            &emsp;&emsp;
            <br>
            <button id="submitx_form">Submit</button>
        </form>
        
        <p id=message_note></p>
  
    </div>
    <div id="GR"></div>
    <div id="BL">
        <div id="footer_div">
            <div class="footer_labels">
                <h4 id="contact_me" for="">For more information, connect with us at</h4>
                <h4  id="mail_me" for="">zms.contact@zoomcar.com</h4>
            </div>
           
           <div id="footer_img">
               <img width="100%", height="100%" src="https://www.zoomcar.com/assets/component-images/zms-logo-white.2af37707ebe1f0942fd6285bb0fdf3d9.png"/>
           </div>
            <h4 id="last_tag">ⓒ 2020 Zoomcar | All Rights Reserved</h4>
        </div>
    </div>
        
  
    
</body>
</html>
<script>

var i=0;
var id;
var imageDiv = document.getElementById("slideshow_img");


let btn1Fun=()=>{
    btn1.style.backgroundColor="rgb(16,163,16)";
    btn1.style.color="white";
    btn2.style.backgroundColor="white";
    btn2.style.color="black";
    clearInterval(id);

    var url_array1 =[
      {url:"https://www.zoomcar.com/assets/component-images/ZMS_Slide-Banner_201_A.06f7fa208212fb4dc92e611fdf69304e.jpg"},
      {url:"https://www.zoomcar.com/assets/component-images/ZMS_Slide-Banner_201_C.c9d9a766c44e0796bce6e3bdcc65d589.jpg"},
      {url:"https://www.zoomcar.com/assets/component-images/ZMS_Slide-Banner_201_E.43c8d28a91111b0eb44831b1d040bc79.jpg"},
    
  ];
localStorage.setItem("imageList:",JSON.stringify(url_array1));
var movie_poster= JSON.parse(localStorage.getItem("imageList:"));
     
function slidShow(){
     if(i==movie_poster.length){
          i=0;
      }
      imageDiv.innerHTML=null;
      var image= document.createElement("img");
      image.setAttribute("src",movie_poster[i].url);
      i++;
      imageDiv.appendChild(image);
   }
  id = setInterval(slidShow,8000)


}

//btn1.addEventListener("click",btn1Fun);
btn1Fun();


let btn2Fun = ()=>{
    btn2.style.backgroundColor="rgb(16,163,16)";
    btn2.style.color="white";
    btn1.style.backgroundColor="white";
    btn1.style.color="black";
     imageDiv.innerHTML=null;
    let img_tag1 = document.createElement("img");
    img_tag1.setAttribute("id",img_tag1);
    img_tag1.src="https://www.zoomcar.com/assets/component-images/ZMS_Slide-Banner_201_B.a4d19a95cb4faa68b9c0cdd1bf6e703e.jpg";
    imageDiv.append(img_tag1);

   
     clearInterval(id)

    var url_array =[
      {url:"https://www.zoomcar.com/assets/component-images/ZMS_Slide-Banner_201_F.c6cae2c0c2d78e980c507982bab4c1b9.jpg"},
      {url:"https://www.zoomcar.com/assets/component-images/ZMS_Slide-Banner_201_D.c564a1d96dd9b4b03806837bbc51ca52.jpg"},
      {url:"https://www.zoomcar.com/assets/component-images/ZMS_Slide-Banner_201_B.a4d19a95cb4faa68b9c0cdd1bf6e703e.jpg"},
    
   ];

localStorage.setItem("imageList:",JSON.stringify(url_array));
var movie_poster = JSON.parse(localStorage.getItem("imageList:"));
     
function slidShow(){
     if(i==movie_poster.length){
          i=0;
      }
      imageDiv.innerHTML=null;
      var image= document.createElement("img");
      image.setAttribute("src",movie_poster[i].url);
      i++;
      imageDiv.appendChild(image);
   }
  id = setInterval(slidShow,9000)

 }
 //btn2.addEventListener("click",btn2Fun);


let submitFunc = (e)=>{
e.preventDefault();
let name1 = document.getElementById("name1").value;
let company1 =document.getElementById("company1").value;
let email1 = document.getElementById("email1").value;
let phone1 =document.getElementById("phone1").value;
let country1 = document.getElementById("country1").value;
let mention1=document.getElementById("mention1").value;


var data1 = {
name1:name1,
company1:company1,
email1:email1,
phone1:phone1,
country1:country1,
mention1:mention1,
};
if((name1.length >1 && company1.length>1 &&  email1.length>4 && country1.length>2 )){
let message_note = document.getElementById("message_note");
message_note.innerText="Your details have been submitted successfully. We'll reach out to you shortly";
message_note.style.color="green";
}


}
document.getElementById("submitx_form").addEventListener("click",submitFunc)

let submitFun = ()=>{


let name1 = document.getElementById("name1").value;
let company1 =document.getElementById("company1").value;
let email1 = document.getElementById("email1").value;
let phone1 =document.getElementById("phone1").value;
let country1 = document.getElementById("country1").value;
let mention1=document.getElementById("mention1").value;


var data1 = {
name1:name1,
company1:company1,
email1:email1,
phone1:phone1,
country1:country1,
mention1:mention1,
};
console.log(data1)
var found = false;
if((name1.length >=1 && company1.length>0 &&  email1.length>=4 && country1.length>=2 )){

var subForm = document.getElementById("submitx_form")
subForm.style.cursor = "pointer";
subForm.style.opacity = "0.9"; 
found=true;
}

if(!found){
// alert("incorrect")
let subForm = document.getElementById("submitx_form")
subForm.style.cursor = "not-allowed";
subForm.style.opacity = "0.5"; 


}

}
document.querySelector("#country1").addEventListener("input",submitFun)

let press_button =()=>{
console.log("abcx")
window.scroll({
top: 4350,

behavior: 'smooth'
});

}
document.getElementById("RD").addEventListener("click",press_button);

document.getElementById("DR").addEventListener("click",press_button);

const more = ()=>{
    console.log("hii")
    window.open("./ppt/ppt.pdf")
    }

</script>
