<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patner page of zoom</title>
     <link rel="stylesheet" href="/src/public/styles/becomeHost.css">
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/b58749077b.js" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="/css/host/becomeHost.css">  
     <link rel="stylesheet" href="/css/host/navstyles.css">  
     <link
      rel="icon"
      type="image/png"
      href="/img/fav.jpg"
    />
     
</head>
<body>
<div id="pagebox">
    <div id="navbar_container"></div>

  <div class="cardcontainer">
    <div  class="card" >
        <img  class="card_img" src="https://www.zoomcar.com/zap/subscribe/build/a2ff940380f1315a0c0aacefb766e858.jpg " alt="Card image">
        <div class="card-img-overlay">
          <h1 class="image_text" >Go from EMI to #ZMI</h1>
          <h1 class="image_text">- Zoomcar monthly income</h1>

          <p id="card_text1" class="card-text">Share your car & earn up to ₹36,000 as #ZMI</p>
          <p class="card_text2" class="card-text">Earn fixed amount per sharing hour</p>
          <p class="card_text2" class="card-text">Guaranteed weekly payment.</p>
          <p class="card_text2" class="card-text">No Conditions Apply.</p>
          <a id="imagebutton" href="host/earning"  class="btn btn-success btn-lg" role="button"> <h4>Start Earning</h4></button>
          </a>
        </div>
    </div>
</div>

<div id="videofile">
    <video controls autoplay preload="auto" loop muted height="430" width="100%">
        <source src="https://www.zoomcar.com/zap/subscribe/build/89e26ac4d64abae2d82f466b71bae010.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video>
</div>
    <!-- below zoomcarimage texts -->
    <div class="para">
        <h5>3 Simple steps to start Earning with your car in 24</h5>    
        <h5 id="line2"> hours</h5>
    </div>

    <!-- image along with the texts -->
    <div class="box3">
        <div class="inner_box1">
            <h1>1. Sign up for Free</h1>
            <br>
            <p>Become part of the Zoom car Host program for absolutely free by filling up a short <a href="form.html">form</a> 
                after sign-up. It takes less-than 2 minutes to fill the form. No hidden charges.</p>
        </div>
        <div class="inner_box2">
            <img src="https://www.zoomcar.com/zap/subscribe/build/bb6776beb9b8bacdc711e5a43f401134.svg" alt="sample image">
        </div>
    </div>

    <div class="box3">
        <div class="inner_box3">
            <img src="https://www.zoomcar.com/zap/subscribe/build/29d798d8bc5d57bf22445ed3cc67cff1.svg" alt="sample image">
        </div>
        <div class="inner_box4">
            <h1>2. Get your Car Health Checked</h1>
            <br>
            <p>Once we receive your details, our experts visits your location to assess your vehicle , and install 
                safety devices into it to ensure complete safety of your car. It all happens in 24 hours</p>
        </div>
    </div>

    <div class="box3">
        <div class="inner_box1">
            <h1>3. Share and Earn</h1>
            <br>
            <p>Share your car through the Zoomcar Host app whenever you are not using it. Flexibility is sharing,
                share as much or as less as you like. Your weekly earnings get credited directly to your bank
                 account!</p>
        </div>
        <div class="inner_box2">
            <img src="https://www.zoomcar.com/zap/subscribe/build/fc0cb48e9b85b44423a6660ba79ad43e.svg" alt="sample image">
        </div>
    </div>

    <!-- one line texts -->
    <div class="para1">
        <h1>How we protect your car</h1>
    </div>

    <!-- image slider with scroll bar -->
    <div id="parabox">
        <div class="paraminibox">
            <div class="card" >
                <img class="card-img-top" src="https://www.zoomcar.com/zap/subscribe/build/e2bfa54a9b46567921c3f14e1276c68e.svg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">We cover major damages and repair</h4>
                  <p >Zoomcar provides damage cover and repair</p> 
                  <p>handling in case of an unlikely incident of a </p> 
                  <p>accident during the sharing period/ when your</p>
                  <p>is on a booking.</p>
                </div>
            </div>
        </div>
        <div class="paraminibox">
            <div class="card" >
                <img class="card-img-top" src="https://www.zoomcar.com/zap/subscribe/build/1f4b5b69d928bbf104735bdea4914f79.svg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Your car stays in safe hands!</h4>
                  <p class="card-text">All our renters are verified individuals with valid</p>
                    <p>Driving license, and have excellent driving stats</p>
                    <p>in the past on our platform. We have complete</p>
                    <p>contact and address details of all our renters.</p>
                </div>
            </div>
        </div>

        <div class="paraminibox">
            <div class="card" >
                <img class="card-img-top" src="https://www.zoomcar.com/zap/subscribe/build/eb002ff59dd838a60fd664d21539d877.svg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Contactless Sharing</h4>
                  <p class="card-text">Our Keyless technology enables contactless</p> 
                  <p>pickup & drop of your car.</p>
                </div>
            </div>
        </div>

        <div class="paraminibox">
            <div class="card" >
                <img class="card-img-top" src="https://www.zoomcar.com/zap/subscribe/build/584189ee6116aeef9f0bfad788813be1.svg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Flexibility in Sharing</h4>
                  <p class="card-text">Share your car whenever you want, as per your</p>
                  <p>usage and convenience.</p>
                </div>
            </div>
        </div>

        <div class="paraminibox">
            <div class="card" >
                <img class="card-img-top" src="https://www.zoomcar.com/zap/subscribe/build/a0073dafcc39c09bcf084add77f94472.svg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">24 x 7 Customer Support</h4>
                  <p class="card-text">Call us, Chat with us, drop an Email to us, we've</p>
                  <p>got your back round the clock!</p>
                </div>
            </div>
        </div>
        
    </div>

    <!-- one line tet growing rapidly -->
    <div id="container">
        <div id="para1">
            <h4>Growing Rapidly</h4> 
            <br>
            <br>
            <p class="p">Join Host program and be part of the largesttech enabledcar sharing marketplace</p> 
        </div> 

        <!-- vertiacal image below image slider -->
        <div id="para2">
            <div class="para1_box">
                <div class="para1_imgbox">
                    <img src="https://www.zoomcar.com/zap/subscribe/build/e3a6d127cac35a3a7a139256bb3761eb.png" alt="">
                </div>
                <br>
                <br>
                <h4>5000+</h4>
                <br><br>
                <h4>Satisfied hosts</h4>
            </div>
            <div class="line"></div>

            <div class="para1_box">
                <div class="para1_imgbox">
                    <img src="https://www.zoomcar.com/zap/subscribe/build/4a5f55fc81b9a6df6a460a025fdfa509.png" alt="">
                </div>
                <br>
                <br>
                <h4>5lakh+</h4>
                <br><br>
                <h4>Bookings served</h4>
            </div>
            <div class="line"></div>

            <div class="para1_box">
                <div class="para1_imgbox">
                    <img src="https://www.zoomcar.com/zap/subscribe/build/36da13bf403485c4efacd507efd93735.png" alt="">
                </div>
                <br>
                <br>
                <h4>32Cr+</h4>
                <br><br>
                <h4>KMs Run</h4>
            </div>
            <div class="line"></div>

            <div class="para1_box">
                <div class="para1_imgbox">
                    <img src="https://www.zoomcar.com/zap/subscribe/build/c0db9479a08980b830b63433f60d336c.png" alt="">
                </div>
                <br>
                <br>
                <h4>Rs. 120Cr+</h4>
                <br><br>
                <h4>Earned by hosts</h4>
            </div>
        </div>
    </div>

    <!-- calculator and the pop up -->
    <div id="calculator">
        <h1>Share your <a href="#" data-toggle="modal" data-target="#thirdmodal">XUV 500</a> </h1>
        <h1>and earn up to Rs. 29,760 per month </h1>
        <p>Earn fixed amount per sharing</p>
        <a href="host/earning"  class="btn btn-success btn-lg active" role="button" id="startearning_btn"> <h4>Start Earning</h4></button>
        </a>
    </div>

  <!-- Modal Calculator-->
  <div class="modal fade"  id="thirdmodal" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 50%;" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5>Earn upto</h5>
            
          <h4>₹ 18,000/mo</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="calmain">
                <form id="mainform">
                    <div class="form-group">
                        <select class="form-control form-control-lg" id="dropbox1">
                            <option class="value">Mahindra</option>
                            <option class="value">Toyota</option>
                            <option class="value">Maruti</option>
                            <option class="value">Tata</option>
                            <option class="value">Ranault</option>
                            <option class="value">Hyundai</option>
                            <option class="value" value="Kolkata">Honda</option>
                            <option class="value" value="Coimbatore">Ford</option>
                            <option class="value" value="Manglore">Nisaan</option>
                        <option class="value" value="Mysore">Mysore</option>
                            <option class="value" value="Goa">Goa</option>
                        </select>
                    </div>
                </form>

                <form id="mainform">
                    <div class="form-group">
                        <select class="form-control form-control-lg" id="dropbox2">
                            <option class="value">XUV 500</option>
                            <option class="value">KUV 100</option>
                            <option class="value">Marazzo</option>
                            <option class="value">XUV 500 AT</option>
                            <option class="value">Scorpio</option>
                            <option class="value">TUV 300</option>
                        </select>
                    </div>
                </form>

                <div id="scrollbox1">
                    <button type="button" class="modalbuttons btn btn-outline-success btn-lg" >XUV 500</button>
                    <button type="button" class="modalbuttons btn btn-outline-success btn-lg" >Baleno</button>
                    <button type="button" class="modalbuttons btn btn-outline-success btn-lg" >Tiago</button>
                    <button type="button" class="modalbuttons btn btn-outline-success btn-lg" >Swift</button>
                    <button type="button" class="modalbuttons btn btn-outline-success btn-lg" >Dzire(Petrol)</button>
                    <button type="button" class="modalbuttons btn btn-outline-success btn-lg" >Kwid</button>
                    <button type="button" class="modalbuttons btn btn-outline-success btn-lg" >Celerio</button>
                    <button type="button" class="modalbuttons btn btn-outline-success btn-lg" >Amaze</button>
                    <button type="button" class="modalbuttons btn btn-outline-success btn-lg" >Ertiga</button>
                    <button type="button" class="modalbuttons btn btn-outline-success btn-lg" >Verna</button>
                </div>

                <div id="priceselector">
                    <form>
                        <div class="form-group">
                          <input type="range" class="form-control-range" id="formControlRange">
                        </div>
                      </form>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal estimate your earning -->
  
    <div id="estimatepop">
        <a  href="#" data-toggle="modal" data-target="#secondpopup"><h5>how we estimate your earning ?</h5></a>
    </div>
    <!-- estimate pop up -->
  <div class="modal fade" id="secondpopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 47%;" >
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="CenterTitle">How do we estimate your earning</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="modalbox1">
                <div id="firstbox">
                    <div class="icon">
                        <i class="fas fa-hand-holding-usd fa-4x" id="firsticon"></i>
                    </div>
                    <div class="icon_content">
                        <p class="data">Earning potentail of car is calculated on the basis of fixed</p>
                        <p class="data">amount earned when car is shared for 24 hours everyday.</p>
                    </div>
                </div>

                <div id="secondbox">
                    <div class="icon2">
                        <i class="far fa-calendar-alt fa-4x" id="secondicon"></i>
                    </div>
                    <div class="icon_content2">
                        <p class="data">Fixed amount in the calculation is as per the following car</p>
                        <p class="data">classification</p>
                    </div>
                </div>

                <div id="thirdbox">
                    <ul>
                        <li>₹100/ hour for luxury cars</li>
                        <li>₹50/ hour for SUV / EVs</li>
                        <li>₹40/ hour for Sedan / Compact SUV</li>
                        <li>₹35/ hour for hatchback cars!</li>
                    </ul>
                </div>

                <div id="fourthbox">
                    <div class="icon3">
                        <i class="fas fa-clipboard-list fa-4x" id="fourthicon"></i>
                    </div>
                    <div class="icon_content3">
                        <p class="data">You may use the calculator to explore more about the car and</p>
                        <p class="data">the earning potential by selecting the variant of your choice.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
       
    <!-- </div> -->
    
    <div id="referEarn">
        <div id="innerbox">
            <div id="image">
                <!-- <img src="https://www.zoomcar.com/zap/subscribe/build/92986f98e59682e88424dc5c9ff80bd1.jpeg" alt=""> -->
                <button type="button" data-toggle="modal" data-target="#referandEarn">
                    <img src="https://www.zoomcar.com/zap/subscribe/build/92986f98e59682e88424dc5c9ff80bd1.jpeg" alt="refer and earn image">
                </button>
            </div>
        </div>
    </div>

         <!-- Modal  Refer AND  Earn-->
  <div class="modal fade"  id="referandEarn" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="min-width: 50%;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalCenterTitle">Refer and Earn</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div id="modalbox">
                <div id="modalheading">
                    <p class="modalheading1">You earn Rs. 75,000/-</p>
                    
                    <p class="modalheading1">Your Friend Gets Rs.10,000/-</p>
                    
                    <p class="modalheading1">You Both Win</p>
                </div>
                <div id="modalimage">
                    <img src="https://www.zoomcar.com/zap/subscribe/build/87d406638cfad7d3c516de54fa50f156.jpeg" alt="modalimage">
                </div>
            
                <div id="logo">
                    <div class="logobox1">
                        <img src="https://www.zoomcar.com/zap/subscribe/build/57cc7c360d39278b0396db7f870e7cd0.png" alt="whatsaaplogo">
                        <br>
                        <br>
                        <h5>Whatsaap</h5>
                    </div>

                    <div class="logobox2">
                        <img src="https://www.zoomcar.com/zap/subscribe/build/511323b8e90983b78fe644c8c9075cf2.png" alt="facebooklogo">
                        <br>
                        <br>
                        <h5>Facebook</h5>
                    </div>

                    <div class="logobox2">
                        <img src="https://www.zoomcar.com/zap/subscribe/build/56993356b7e8876d8eadb92affa38ab7.png" alt="twitterlogo">
                        <br>
                        <br>
                        <h5>Twitter</h5>
                    </div>

                    <div class="logobox2">
                        <img src="https://www.zoomcar.com/zap/subscribe/build/660be3fc6381ddb61de93a26d3720783.png" alt="codecopy">
                        <br>
                        <br>
                        <h5>Copy Code</h5>
                    </div>

                </div>
                
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>

         <!-- below the star animation  -->

    <div id="animation">
        <div id="text"><h1>Users Love Zoomcar Host Program. Our app has 4.5+ rating on play store!</h1></div>

        <div id="video">
            <video  autoplay preload="auto" loop muted height="100%" width="100%">
                <source src="https://www.zoomcar.com/zap/subscribe/build/993b9e144e89da0b2a0df580e13a2cbe.mp4" type="video/mp4">
                <source src="https://www.zoomcar.com/zap/subscribe/build/993b9e144e89da0b2a0df580e13a2cbe.mp4" type="video/ogg">
                Your browser does not support the video tag.
              </video>
        </div>
    </div>



    <div id="contentdropdown">
        <div id="headingpart">
            <h1 class="headingcontent">Still Have</h1>
            <h1 class="headingcontent">questions ?</h1>
        </div>

        <div id="clickdrop">
            <div class="box1">
                <p class="topcontentbox" id="dropdown">Do i need to meet the renters of my car ? </p>
            </div>
            
            <div class="box2 " id="box2" >
                <div class="bottomcontentbox">
                    <p >We have installed the keyless entry devices in your car, which makes sure that you need not meet any </p>
                
                <p>of the renters in person,either at the start,or at the end of any booking. </p>
                </div>
                
            </div>
            <div class="line"></div>
    
            <div class="box1">
                <p class="topcontentbox" id="dropdown2">How will i get paid ?</p>
            </div>
            
            <div class="box2 " id="minibox3" >
                <div class="bottomcontentbox">
                    <p >Your total earnings will be credited to your bank account every week. You can access your </p>
                    <p>details earnings through our Zoomcar Host app.</p>
                </div>
            </div>
            <div class="line"></div>
    
            <div class="box1">
                <p class="topcontentbox" id="dropdown3">What happens if my car gets challans or traffic fines while my car is being shared?</p>
            </div>
            
            <div class="minibox" id="box4" >
                <div class="bottomcontentbox">
                    <p>Zoomcar will take care all challans incurred during car sharing.</p>
                </div>
            </div>
            <div class="line"></div>
    
            <div class="box1">
                <p class="topcontentbox" id="dropdown4">How the price of my car is decided ?</p>
            </div>
            
            <div class="box2 " id="box5" >
                <div class="bottomcontentbox">
                    <p >Our intelliget demand based pricing system optimizes the price of your car. We also send you</p>
                    <p>suggestion for peak seasons to share your car. We ensure you get maximum earning while sharing car.</p>
                </div>
            </div>
            <div class="line"></div>
    
            <div class="box1">
                <p class="topcontentbox" id="dropdown5">Why are safety devices installed ?</p>
            </div>
            
            <div class="box2 " id="box6" >
                <div class="bottomcontentbox">
                    <p >These are zoomcar's proprietary tech devices. They are installed in the car to keep track of car health</p>
                    <p>and location of your car. It keeps your car safe when shared with Guests</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="/js/host/dropdown.js"></script>
<script type="module" src="/js/host/navfun.js"></script>