<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/eb173574ae.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/css/intlTelInput.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Signup Mobile</title>
    <link rel="stylesheet" href="/css/users/mobile.css" />
    <link rel="icon" type="image/png" href="/img/fav.jpg" />
  </head>
  <body>
    <div id="mainDiv">
      <i class="fas fa-arrow-left" onclick="location.href='login.html'"></i>
      <div class="heading">Enter Mobile Number</div>
      <form action="/user/singup_or_login">
        <input
          type="tel"
          id="phone"
          placeholder="Enter your mobile number"
          name="mobile"
        />
        <input
          onclick="login()"
          id="gotoNext"
          class="btn"
          type="submit"
          value="CONTINUE"
        />
      </form>
    </div>
  </body>
</html>
<script>
  var input = document.getElementById("phone");
  window.intlTelInput(input, {
    phoneutils:
      "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/utils.min.js",
  });
</script>
