<!DOCTYPE html>
<html lang="en">
  <script
    src="https://kit.fontawesome.com/368c5c5b09.js"
    crossorigin="anonymous"
  ></script>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Plan</title>
    <link rel="stylesheet" href="http://localhost:2345/css/cars/plan.css" />
  <link rel="icon" type="image/png" href="http://localhost:2345/img/fav.jpg">

  </head>

  <body onload="allcars(`<%= JSON.stringify(car) %>`)">
    <div id="cross">
      <div id="back">
        <a href="#" onclick="checkoutback()"><i class="fas fa-times"></i></a>
      </div>
      <img src="http://localhost:2345/img/hi.png" alt="" />
      <img src="http://localhost:2345/img/dd.png" alt="" />
    </div>
    <div id="footer" class="nav-down">
      <div id="footerdat">
        <div id="ao">
          <div id="pricepay"><img src="http://localhost:2345/img/6.png" alt="" /></div>
          <div id="coupon"><img src="http://localhost:2345/img/12.png" alt="" /></div>
        </div>
        <button id="checkoutbtn">
          <a href="#" onclick="checkoutback()">ADD 12 MONTHS MEMBERSHIP</a>
        </button>
      </div>
    </div>
  </body>
</html>
<script src="http://localhost:2345/js/cars/plan.js"></script>
